html, body {
    overflow: hidden;
    width:    100%;
    height:   100%;
    margin:   0;
    padding:  0;
}

.app {
    position:    fixed;
    user-select: none;
    -webkit-user-select: none;
    -moz-use-select:    none;
    -ms-user-select:     none;
}

.editor {
    position:absolute;
}

.editor table {
    width:  100%;
    height: 100%;
    border-collapse: collapse;
}

.editor td {
    border:solid 1px #ccc;
}

.scroll {
    position: absolute;
    display:  block;
}

.preview {
    position:absolute;
    border:solid 1px #ccc;
}

.preview table {
    width:  100%;
    height: 100%;
    border-collapse: collapse;
}

.preview td {
    border: none;
}

.gallery {
    position: absolute;
}

.stocks {
    display:   flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-content:   space-between;
}

.stock {
    display: inline-block;
    width:   100%;
    border:solid 1px #ccc;
}

.stock table {
    width:  100%;
    height: 100%;
    border-collapse: collapse;
}

.stock td {
    border:none;
}

.colors {
    position: absolute;
}

.palette {
    width:  100%;
    border: solid 1px #ccc;
}

.palette table {
    width:  100%;
    height: 100%;
    border: none
    border-collapse: separate;
}

.palette td {
    border: solid 4px white;
}

.palette td.selected {
    border-color: #c00;
}

.c-wh1 { background-color: #fff; }
.c-bk1 { background-color: #222; }
.c-or1 { background-color: #f90; }
.c-br1 { background-color: #b64; }
.c-bl1 { background-color: #0c7cdc; }
.c-pk1 { background-color: #fae; }
.c-rd1 { background-color: #d00; }
.c-gr1 { background-color: #0b6946; }
.c-gr2 { background-color: #8e6; }
.c-gr3 { background-color: #cfa; }
.c-gr4 { background-color: #7de2b8; }
.c-pu1 { background-color: #ecf; }
.c-pu2 { background-color: #f3e8f9; }
.c-br2 { background-color: #e6d5a4; }
.c-gy1 { background-color: #888; }
.c-pk2 { background-color: #fdd7ee; }
.c-bl2 { background-color: #7be4ef; }
.c-bl3 { background-color: #b1d0f3; }
.c-bl4 { background-color: #c0e9f3; }
.c-ye1 { background-color: #fdd926; }
.c-ye2 { background-color: #f7f13d; }
.c-ye3 { background-color: #f3ff94; }
.c-ye4 { background-color: #f9eabf; }
.c-or2 { background-color: #f3dabc; }
